<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="ion-align-items-center">

    <ion-col>
      <ion-avatar>
        <img
          src="https://static.wikia.nocookie.net/wikinaruto/images/4/4a/Minato_Namikaze.jpg/revision/latest/scale-to-width-down/340?cb=20100519214153&path-prefix=pt">
      </ion-avatar>
    </ion-col>

    <ion-col>
      <strong>1K</strong><br>
      <ion-text color="medium">posts</ion-text>
    </ion-col>

    <ion-col>
      <strong>15K</strong><br>
      <ion-text color="medium">followers</ion-text>
    </ion-col>

    <ion-col>
      <strong>3K</strong><br>
      <ion-text color="medium">following</ion-text>
    </ion-col>

  </ion-row>

  <ion-row class="ion-margin">
    <ion-col>
      <ion-text>
        <strong>Minato Namikaze</strong><br>
        <ion-text color="medium">Hokage</ion-text><br>
        Minato was one of the most powerful shinobi in history,
        considered by many as unmatched by anyone else.
      </ion-text>
    </ion-col>
  </ion-row>

</ion-content>